.profile_card{ 
    margin-top: 10px; 
}

#profilePic {
    width: 200px;
    height: 200px;
    margin: 10px;
}

#user_profile {
    padding: 10px 10px;
}

.MuiPaper-root-1 {
    width: 25%;
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

#container{ 
    display: flex;
    flex-wrap: wrap;
}